<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moduleaspect" >
    <application>
        <activity android:name="com.hujiang.permissiondispatcher.ShadowPermissionActivity"
            android:theme="@style/Theme.Transparent">

        </activity>
    </application>
</manifest>
